<h1>Yoga Cards</h1>
<h2>Flashcards to remember Yoga-related English and Sanskrit names!</h2>

<div id="app">
  <button v-on:click="list('all')">All</button>
  <button v-on:click="list('words')">Words</button>
  <button v-on:click="list('asanas')">Asanas</button>
  <button v-on:click="list('bandhas')">3 Bandhas</button>
  <button v-on:click="list('drishti')">9 Drishti</button>
  <button v-on:click="list('kriyas')">Kriyas</button>
  <button v-on:click="list('paths')">4 Paths of Yoga</button>
  <button v-on:click="list('limbs')">8 Limbs of Yoga</button>

  <template v-if="order[0] && cards[0].sanskrit">
    <div v-on:click="nextCard">
      <span v-if="recall === 'english'">
        {{ cards[order[current]].sanskrit }}
      </span>
      <span v-else-if="recall === 'sanskrit'">
        {{ cards[order[current]].english }}
      </span>

      <br>
      <span v-show="show">
        <span v-if="recall === 'sanskrit'">
          {{ cards[order[current]].sanskrit }}
        </span>
        <span v-else-if="recall === 'english'">
          {{ cards[order[current]].english }}
        </span>
      </span>
      <br>
      {{current+1}} / {{length}}
    </div>
  </template>

  <input type="radio" id="english" name="recall" value="english" v-model="recall">
  <label for="english">Recall English</label>
  <br>
  <input type="radio" id="sanskrit" name="recall" value="sanskrit" v-model="recall">
  <label for="sanskrit">Recall Sanskrit</label>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="script.js"></script>
