<div id="app">
  <template v-if="order[0]">
    <div v-on:click="nextCard">
      <span v-if="recall === 'english'">
        {{ cards[order[current]].sanskrit }}
      </span>
      <span v-else-if="recall === 'sanskrit'">
        {{ cards[order[current]].english }}
      </span>

      <br>
      <span v-show="show">
        <span v-if="recall === 'sanskrit'">
          {{ cards[order[current]].sanskrit }}
        </span>
        <span v-else-if="recall === 'english'">
          {{ cards[order[current]].english }}
        </span>
      </span>
      <br>
      {{current+1}} / {{length}}
    </div>
  </template>

  <input type="radio" id="english" name="recall" value="english" v-model="recall">
  <label for="english">Recall English</label>
  <br>
  <input type="radio" id="sanskrit" name="recall" value="sanskrit" v-model="recall">
  <label for="sanskrit">Recall Sanskrit</label>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="script.js"></script>
